#kek {
  cursor: crosshair;
  color: green;
}

#funny-haha {
  font-size: 60px;
  display: none;
}

#p-in-ponies{
  display: none;
  font-size: 30;
}

#lorem-ip-pic, #lorem-ip-p {
  display: none;
}

/*.row {
  float: left;
}*/

.add-border {
  border-radius: 12px 4px 1px 100px;
  border: 2px solid red;
}

.red-background {
  background-color: red;
}
