#kek {
  cursor: crosshair;
  color: green;
}

#funny-haha {
  font-size: 60px;
  display: none;
}

#p-in-ponies{
  display: none;
  font-size: 30;
}

#lorem-ip-pic, #lorem-ip-p {
  display: none;
}

/*.row {
  float: left;
}*/
